# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook you will learn about the different tools for data science and their application.

Some of the popular languages that Data Scientists use are:
1. PYTHON 
2. R 
3. SQL

Some of the popular languages that Data Scientists use are:
1. PYTHON 
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy 
2. Pandas 
3. keras

Some of the commonly used libraries used by Data Scientists include:
1. Numpy 
2. Pandas 
3. keras

|Data Science Tools|
|------------------|
|     R studio     |
|   Anaconda       |
|Jupyther notebooks|

|Data Science Tools|
|------------------|
|     R studio     |
|   Anaconda       |
|Jupyther notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5

17

In [7]:
#This a simple arithmetic expression to mutiply then add integers

In [10]:
#Define the value in minutes 
minutes= 200 

#converts minutes to hours 
Hours= minutes/60 

print(f"the value in hours is {Hours} hours")

the value in hours is 3.3333333333333335 hours

In [12]:
#This will convert 200 minutes to hours by diving by 60

*objetives*
- create markdowns 
- add comments to code 
- create tables 
- add unordered list

*objetives*
- create markdowns 
- add comments to code 
- create tables 
- add unordered list

## Author's 
URIEL ANTONIO PEREZ FLORES

## Author's 
URIEL ANTONIO PEREZ FLORES